<td><%= link_to (image_tag presentation.thumbnail || "", :alt => presentation.title, :height => 80, :width => 80), "/user/presentation/#{presentation.id}" %></td>
<td colspan="6"><%= link_to(presentation.title, "/user/presentation/#{presentation.id}") %></td>
<td colspan="3"><%= presentation.user.username %></td>